<div class="container">
  <h2>Список товаров: </h2>

  <ul class="list-unstyled">
    <li *ngFor="let product of products" class="media" >
      <div class="media-body">
        <h5 class="mb-25">{{product.name}} <span class="price"> {{product.price}}$</span></h5>
        <div class="row">
          <p class="col-9 col-md-10">{{product.label}}</p>
          <div class="col-2">
            <button (click)="addToCart(product.id)" class="btn btn-secondary">В корзину</button>
          </div>
        </div>
        </div>
    </li>
  </ul>
</div>

